extends ../../views/layouts/app
append variables
  -var page = htmlWebpackPlugin.options.vars.page
  -var icon = require('../../images/icons/favicon.ico')
  -var logo = require('../../images/logo/logo.png')
append content
    div(id='content')
      div(class='container')
        div(class='row text-center mb-3')
          div(class='col-md-6 col-lg-4 mb-3')
            div(class='embed-responsive embed-responsive-16by9')
              video(class='embed-responsive-item', src= require('../../video/1.mp4'), controls)
        div(class='row text-center')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/005.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/005.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/004.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/004.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/002.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/002.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/003.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/003.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/006.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/006.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/008.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/008.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/009.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/009.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/010.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/010.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/011.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/011.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/012.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/012.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/013.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/013.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/014.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/014.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/015.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/015.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/016.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/016.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/017.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/017.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/018.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/018.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/019.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/019.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/020.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/020.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/021.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/021.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/022.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/022.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/023.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/023.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/024.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/024.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/025.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/025.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/026.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/026.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/027.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/027.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/028.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/028.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
          div(class='col-sm-6 col-md-4 col-lg-3')
            a(class='lightbox' href= require('../../images/gallery/029.jpg'))
              div(class='image-container')
                img(data-src= require('../../images/gallery/029.jpg'), alt= `Галерея | ${data.options.title}`, class='lazy')
