extends ../../templates/layout
append variables
  -
    const { options, pages, primaryNavigation, team } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.team.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  //+header(primaryNavigation.items)
append content
  //+pageTitle(pages.team)
  section#content
    .content-wrap
      .team-list
        .container
          .row
            each coach in team
              .col-xs-12.col-sm-6
                .team
                  .team-image
                    img(src= coach.src alt= coach.title)
                  .team-content
                    .team-title
                      h4 #{coach.title}
                    each direction in coach.directions
                      a.team-direction(href="#") #{direction}
                    p.team-description #{coach.description}
append scripts
  //Page scripts
