extends ../../templates/layout
append variables
  -
    const { options, pages, primaryNavigation, team } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.team.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.team)
  section#content
    .content-wrap
      .team-wrapper
        .container
          .row
            each coach in team
              .col-sm-6
                .team
                  .team-image
                    img(src= coach.src alt= coach.title)
                  .team-content
                    .team-title
                      h3 #{coach.title}
                    .team-directions
                      ul
                        each direction in coach.directions
                          li
                            a(href="#") #{direction}
                    .team-media.clearfix
                      a(href="#")
                        i.i-plain.icon-image
                      a(href="#")
                        i.i-plain.icon-play-circle
                    .team-description
                      p #{coach.description}
append scripts
  //Page scripts
