extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation, contacts } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  if pages.contacts.title
    title= pages.contacts.title
  if pages.contacts.description
    meta(name='description', content= pages.contacts.description)
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/contacts/i) !== -1
      link(rel='preload', href= cssFile.substr(
        htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~contacts/i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  append header
    //Header
    +header(primaryNavigation)
append pageTitle
  //Page title
  +pageTitle(pages.contacts)
//-append content
  section#content
    div(class='content-wrap')
      div(class='container')
        div(class='row')
          div(class='col-12')
            ul(class='contacts')
              li
                i(class='fas fa-map-marker-alt')
                |&nbsp;
                |!{contacts.address}
              li
                i(class='fas fa-phone fa-rotate-90 fa-fw')
                |&nbsp;
                a(href=`tel:${contacts.phone}`) #{contacts.phone}
              li
                i(class='fas fa-envelope fa-fw')
                |&nbsp;
                |#{contacts.email}
          div(class='col-12')
            div(id='yandex-map')
append scripts
  //Page scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/contacts/i) !== -1
      script(type='text/javascript', src= jsFile)
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~contacts/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}

