extends ../../templates/layout
append variables
  -const { options, pages, primaryNavigation, contacts } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= pages.contacts.title
  meta(name='description', content= pages.contacts.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.contacts)
  section#content
    .content-wrap
      .container.clearfix
        .row
          .col-lg-12
            h1= mark
            .contact-content
              .contact-address
                i.icon-map-marker
                | !{contacts.address}
              .contact-phone
                i.icon-phone3
                a(href=`tel:${contacts.phone}`)= contacts.phone
              .contact-email
                i.icon-envelope-alt
                //-TODO: 'Modal contact form'
                a(href="#")= contacts.email
          .col-lg-12
            #yandex-map
append scripts
  //Page scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")

