extends ../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, contacts } = require('../../data');
//-META
append meta
  //Page meta tags
  if pages.contacts.title
    title= pages.contacts.title
  if pages.contacts.description
    meta(name='description', content= pages.contacts.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/contacts\./i) !== -1
      link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  //Page title
  +pageTitle(pages.contacts)
//-CONTENT
append content
    //Content
    div(id='content')
      //Container
      div(class='container')
        div(class='row')
          div(class='col-12')
            ul(class='contacts')
              li
                i(class='fas fa-map-marker-alt')
                |&nbsp;
                |!{contacts.address}
              li
                i(class='fas fa-phone fa-rotate-90 fa-fw')
                |&nbsp;
                a(href=`tel:${contacts.phone}`) #{contacts.phone}
              li
                i(class='fas fa-envelope fa-fw')
                |&nbsp;
                |#{contacts.email}
          div(class='col-12')
            div(id='yandex-map')
//-SCRIPTS
append scripts
  //Page scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/contacts\./i) !== -1
      script(type='text/javascript', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))

