extends ../../templates/layout
append variables
  -const { options, pages, primaryNavigation, contacts } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  if pages.contacts.title
    title= pages.contacts.title
  if pages.contacts.description
    meta(name='description', content= pages.contacts.description)
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/contacts/i) !== -1
      link(rel='preload', href= cssFile.substr(
        htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~contacts/i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  append header
    //Header
    +header(primaryNavigation)
append content
  +pageTitle(pages.contacts)
  section#content
    .content-wrap
      .container.clearfix
        .row
          .col-lg-12
            h1= mark
            .contact-content
              .contact-address
                i.icon-map-marker
                | !{contacts.address}
              .contact-phone
                i.icon-phone3
                a(href=`tel:${contacts.phone}`)= contacts.phone
              .contact-email
                i.icon-envelope-alt
                | #{contacts.email}
          .col-lg-12
            #yandex-map
append scripts
  //Page scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/contacts/i) !== -1
      script(type='text/javascript', src= jsFile)
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~contacts/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}

