extends ../../templates/layout
append variables
  -
    const { options, pages, primaryNavigation, services } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.services.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.services)
  section#content
    .content-wrap
      .services-wrapper
        .container
          .row
            each service in services
              .col-sm-6.col-md-4
                .service-wrapper
                  .service
                    .service-image
                      a(data-ajax href=`data/services/${service.name}.html`)
                        picture
                          source(media="(max-width: 767px)" srcset= require(`../../images/services/${service.name}/thumbnails/${service.main}.jpg`))
                          img(src= require(`../../images/services/${service.name}/${service.main}.jpg`) alt= `${options.siteName} | ${service.title}`)
                    .service-info
                      a(data-ajax href=`data/services/${service.name}.html`)
                        .service-title
                          h2= service.title
append scripts
  //Page scripts
