extends ../../templates/layout
append variables
  -
    const { options, pages, primaryNavigation, services } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.services.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.services)
  section#content
    .content-wrap
      .services-wrapper
        .container
          .row
            each service in services
              .col-sm-6.col-lg-4
                .service
                  .service-image
                    img(src= require(`../../images/services/${service.name}.jpg`) alt= `${options.siteName} | ${service.title}`)
                  .service-info
                    .service-title
                      h2= service.title
append scripts
  //Page scripts
