extends ../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, directions } = require('../../data');
//-META
append meta
  //Page meta tags
  if pages.services.title
    title= pages.services.title
  if pages.services.description
    meta(name='description', content= pages.services.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /services\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  //Page title
  +pageTitle(pages.services)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row')
        each direction, index in directions
          div(class={
            'col-12': true,
            'col-md-6': true,
            'col-lg-4': true,
            'd-flex': direction.image
          })
            div(class='card mb-4')
              //Image
              if direction.image
                div(class='image-container')
                  if direction.link
                    a(href= direction.link)
                      img(class='card-img-top lazy', data-src= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`), alt=`${direction.title} | ${options.name}`, data-srcset= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`) + ' 600w,' + require(`../../images/services/${direction.name}/001-${direction.name}-1200x800.jpg`) + ' 1200w')
                  else
                    img(class='card-img-top lazy', data-src= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`), alt=`${direction.title} | ${options.name}`, data-srcset= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`) + ' 600w,' + require(`../../images/services/${direction.name}/001-${direction.name}-1200x800.jpg`) + ' 1200w')
              //Body
              div(class='card-body')
                //Title
                h3(class='card-title')
                  if direction.link
                    a(href= direction.link) !{direction.title}
                  else
                    | #{direction.title}
                //Subtitle
                p(class='card-subtitle') !{direction.subtitle}
              //Footer
              div(class='card-footer')
                div(class='text-right')
                  if direction.link
                    a(href= direction.link) Подробнее...
                  else
                    | Подробнее...
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /services\./i)
