extends ../../views/layouts/app
append variables
  -var page = htmlWebpackPlugin.options.vars.page
  -var icon = require('../../images/icons/favicon.ico')
  -var logo = require('../../images/logo/logo.png')
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row')
        each direction in data.directions
          div(class={
            'col-12': true,
            'col-md-6': true,
            'col-lg-4': true,
            'd-flex': direction.image
          })
            div(class='card mb-4')
              //Image
              if direction.image
                //div(class='image-container')
                  if direction.link
                    a(href= direction.link)
                      img(class='card-img-top lazy', data-src= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`), alt=`${direction.title} | ${options.title}`, data-srcset= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`) + ' 600w,' + require(`../../images/services/${direction.name}/001-${direction.name}-1200x800.jpg`) + ' 1200w')
                  else
                    img(class='card-img-top lazy', data-src= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`), alt=`${direction.title} | ${options.title}`, data-srcset= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`) + ' 600w,' + require(`../../images/services/${direction.name}/001-${direction.name}-1200x800.jpg`) + ' 1200w')
              //Body
              div(class='card-body')
                //Title
                h3(class='card-title')
                  if direction.link
                    a(href= direction.link) !{direction.title}
                  else
                    | #{direction.title}
                //Subtitle
                p(class='card-subtitle') !{direction.subtitle}
              //Footer
              div(class='card-footer')
                div(class='text-right')
                  if direction.link
                    a(href= direction.link) Подробнее...
                  else
                    | Подробнее...
