extends ../layouts/app
//-VARS
append variables
  -var icon = require("../../images/icons/favicon.ico")
  -var logo = require("../../images/logo/logo.png")
  -var options = require("../../database/options")
  -var directions = require("../../database/directions")
//-HEADER
append header
  +header(logo)
//-CONTENT
block content
  main.py-5.flex-fill
    div.container
      div.row
        if directions && directions.length > 0
          each direction in directions
            div.col-md-6.col-lg-4
              div.card.mb-4.w-100
                //Image
                if direction.image
                  if direction.link
                    a(href= direction.link)
                      img.card-image-top.img-thumbnail.border-0(src= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`), alt=`${direction.title} | ${options.title}`, data-srcset= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`) + ' 600w,' + require(`../../images/services/${direction.name}/001-${direction.name}-1200x800.jpg`) + ' 1200w')
                  else
                    img.card-image-top.img-thumbnail.border-0(src= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`), alt=`${direction.title} | ${options.title}`, data-srcset= require(`../../images/services/${direction.name}/001-${direction.name}-600x400.jpg`) + ' 600w,' + require(`../../images/services/${direction.name}/001-${direction.name}-1200x800.jpg`) + ' 1200w')
                //Body
                div.card-body
                  //Title
                  h3.card-title
                    if direction.link
                      a.text-reset(href= direction.link) !{direction.title}
                    else
                      | #{direction.title}
                  //Subtitle
                  p(class={
                    'card-subtitle': true,
                    'mx-2': true,
                    'mt-2': true,
                    'text-secondary': true,
                    'mb-0': !direction.excerpt
                  }) !{direction.subtitle}
                //Footer
                div.card-footer
                  div.text-right
                    if direction.link
                      a.text-reset.font-weight-bold(href= direction.link) Подробнее...
                    else
                      | Подробнее...
