extends ../../templates/layout
append variables
  -
    const { options, pages, primaryNavigation } = require('../../data');
    const events = require('../../data/events')
//-HEAD
append meta
  //Page meta tags
  title= pages.eventsboard.title
  meta(name='description', content= pages.eventsboard.description)
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && (cssFile.search(/vendor/i) !== -1 || cssFile.search(/commons/i) !== -1 || cssFile.search(/eventsboard/i) !== -1)
      link(href=cssFile, rel='preload', as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(href=cssFile, rel='stylesheet')
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~eventsboard/i) !== -1
      style=compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.eventsboard)
  section#content
    .content-wrap
      .events-wrapper
        .container
          .row
            each event in events
              .col-sm-12
                .event
                  div.event-image
                    a(href= `${event.name}.html`)
                      img(src= require(`../../images/events/${event.name}/${event.poster.fileName}`) alt= event.poster.alt)
                      .event-date
                        span= event.date[0]
                        span= event.date[1]
                  .event-content
                    .event-title
                      a(href= `${event.name}.html`)
                        h3
                          span
                            |Мастер-класс
                            br
                            |Софы Макуриной
                    .event-excerpt
                      p
                        |Впервые в САНКТ-ПЕТЕРБУРГЕ!
                        br
                        |28 октября 2018
                        br
                        |В Танцевальном замке "НАД&nbsp;ДОЖДЁМ" пройдет МАСТЕР-КЛАСС горячей, космической и неординарной СОФЫ&nbsp;МАКУРИНОЙ.
                        br
                        a(href="https://vk.com/naddozhdem")
                          span
                            b https://vk.com/naddozhdem
                        br
                        |Приглашаем на авторские классы Софы с её дерзкой, но очень чувственной хореографией.
                        br
                        a(href='requisites.html')
                          span
                            b Реквизиты для оплаты
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && (jsFile.search(/vendor/i) !== -1 || jsFile.search(/commons/i) !== -1 || jsFile.search(/eventsboard/i) !== -1)
      script(src= jsFile, type='text/javascript')
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~eventsboard/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
