extends ../../templates/layout
append variables
  -
    const { options, pages, primaryNavigation, events } = require('../../data');
    const event= require('../../data/events');
//-HEAD
append meta
  //Page meta tags
  title= `${options.name} | ${event[0].title}`
  if event[0].description
    meta(name='description', content= pages.events.description)
  else
    meta(name='description', content= options.description)
  if event[0].keys
    meta(name='keywords', content= pages.events.keys)
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/eventsboard/i) !== -1
      link(rel='preload', href= cssFile.substr(
        htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~eventsboard/i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
  style.
    #page-title h3 {
        line-height: 1.65 !important;
    }
//-BODY
append header
  //Header
  +header(primaryNavigation)
append content
  section#page-title.page-title-nobg
    .container.clearfix
      h3 Мастер-класс
      ol.breadcrumb
        li.breadcrumb-item
          a(href="index.html") Главная
        li.breadcrumb-item
          a(href="eventsboard.html") Афиша
        li.breadcrumb-item.active.current(aria-current="page") Мастер-класс
  section#content
    .content-wrap
      .container.clearfix
        .single-post.nobottommargin
          .entry.clearfix
            .entry-title
              h2 Мастер-класс Софы Макуриной
            .row
              .col-sm-12.col-lg-6.order-last.order-lg-first
                .entry-content
                  p Мы знаем Софу как яркую и харизматичную танцовщицу, не знающую преград и сомнений.
                  p Софа является одним из основателей и наставником Pole Art пространства Sofa Dance.
                  p С интересом наблюдая за ней возникает желание раскрыть ее загадочный и таинственный образ
              .col-sm-12.col-lg-6.order-first.order-lg-last
                .entry-image
                  a(href= require(`../../images/events/${event[0].name}/MK-Sofa12.jpg`))
                    img(src= require(`../../images/events/${event[0].name}/MK-Sofa12.jpg`))
            .row
              .col-sm-12.col-lg-6
                .entry-image
                  a(href=require(`../../images/events/${event[0].name}/MK-Sofa10.jpg`))
                    img(src= require(`../../images/events/${event[0].name}/MK-Sofa10.jpg`))
              .col-sm-12.col-lg-6
                .entry-content
                  p  Когда человек полностью контролирует свое тело, его движения завораживают и приводят в восторг. Грациозная и гибкая, словно кошка, - такой мы видим Софу сейчас. А начиналось всё со студии в Новосибирске: "Моя подружка была гимнасткой, и я мечтала о такой же растяжке, как у неё! Цель была поставлена, студия найдена! Но (к счастью ) так вышло, что помимо растяжки в студии преподавали Pole Sport. Через год занятий я решилась выступить на соревнованиях Кубка Сибири в номинации "Pole Art". А вот дальше было самое интересное)) Судьям не понравилось моё выступление, уж "слишком пластичное" оно оказалось Во избежание дисквалификации меня перевели в категорию "Exot"! Не смотря на то, что выступала я босиком - заняла первое место) Ну и понеслась жара...)))" - Софа.
            .row
              .col-sm-12.col-lg-6.order-last.order-lg-first
                .entry-content
                  p "Для меня из слабых сторон являются только травмы, которые практически всегда меня преследуют и сменяются одна за другой. Но я думаю, что это только закаляет, и организм тебе подсказывает, когда нужно отдохнуть. А, потом с новыми силами в бой с предрассудками". Софа
              .col-sm-12.col-lg-6.order-first.order-lg-last
                .entry-image
                  a(href= require(`../../images/events/${event[0].name}/MK-Sofa11.jpg`))
                    img(src= require(`../../images/events/${event[0].name}/MK-Sofa11.jpg`))
            .row
              .col-sm-12.col-lg-6
                .entry-image
                  a(href= require(`../../images/events/${event[0].name}/MK-Sofa13.jpg`))
                    img(src= require(`../../images/events/${event[0].name}/MK-Sofa13.jpg`))
              .col-sm-12.col-lg-6
                .entry-content
                  p  "Мои источники вдохновения - это музыка (пожалуй, главный родник), места, события в жизни... И люди, зачастую не из моего ближнего круга общения, а совершенно иные, с другой профессией, другого нрава. На которых я смотрю и думаю: "Господи, какими же талантливыми надо быть, чтобы делать такое..." А в ответ я получаю похожие эмоции от них.
                  p Мы друг для друга являемся чем-то новым и необычным, и нас это вдохновляет)
                  p В моём окружении все больше и больше духовно близких людей
                  p Ну и Музыка, конечно, даже на разминке я должна чувствовать ритмы, нечто, от чего внутри всё начинает шевелиться" - Софа.

append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/eventsboard/i) !== -1
      script(src= jsFile, type='text/javascript')
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~eventsboard/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
