extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation, contacts } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= pages.index.title
  meta(name='description', content= pages.index.description)
  if htmlWebpackPlugin.options.server !== 'dev'
    meta(name='google-site-verification', content='Gc5zQB4yQ5s8ZvDI5WoD2yXp5Hrza3OmX-qsy8A2hig')
    meta(name='yandex-verification', content='f196debf2583cee4')
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && (cssFile.search(/vendor/i) !== -1 || cssFile.search(/commons/i) !== -1 || cssFile.search(/index/i) !== -1)
      link(href=cssFile, rel='preload', as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(href=cssFile, rel='stylesheet')
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inlineIndex/i) !== -1
      style=compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  +header(primaryNavigation.items, className='index')
append content
  //Primary Slider
  section#slider.slider-element.slider-parallax.swiper_wrapper.full-screen.force-full-screen.clearfix(data-effect="fade" data-loop="true" data-speed="1000" data-autoplay="5000" data-grab="false")
    .slider-parallax-inner
      .swiper-container.swiper-parent
        .swiper-wrapper
          //Slide-1
          .swiper-slide.slide-1
            .overlay
            .container.clearfix
              .slide-wrapper
                .slider-caption
                  div
                    h3(data-caption-animate="slide") Время твоего
                  div
                    h3(data-caption-animate="slide" data-caption-delay="200") превосходства
          //Slide-2
          .swiper-slide.slide-2
            .overlay
            .container
              .slide-wrapper
                .slider-caption
                  div
                    h3(data-caption-animate="slide") Время твоего
                  div
                    h3(data-caption-animate="slide" data-caption-delay="200") превосходства
          //Slide-3
          .swiper-slide.slide-3
            .overlay
            .container
              .slide-wrapper
                .slider-caption
                  div
                    h3(data-caption-animate="slide") Время твоего
                  div
                    h3(data-caption-animate="slide" data-caption-delay="200") превосходства
        //Phone icon
        #slider-phone
          a(href=`tel:${contacts.phone}`)
            i.i-circled.i-light.icon-call
block footer
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && (jsFile.search(/vendor/i) !== -1 || jsFile.search(/commons/i) !== -1 || jsFile.search(/index/i) !== -1)
      script(src= jsFile, type='text/javascript')
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inlineIndex/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
