extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation, contacts } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  base(href= htmlWebpackPlugin.options.base)
  title= pages.index.title
  meta(name='description', content= pages.index.description)
  if htmlWebpackPlugin.options.buildServer !== 'dev'
    meta(name='google-site-verification', content='Gc5zQB4yQ5s8ZvDI5WoD2yXp5Hrza3OmX-qsy8A2hig')
    meta(name='yandex-verification', content='f196debf2583cee4')
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/index/i) !== -1
      link(rel='preload', href= cssFile.substr(
        htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~index/i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  append header
    //Header
    header#header.transparent-header.no-sticky
      #header-wrap
        .container.clearfix
          #primary-menu-trigger: i.icon-reorder
          //Logo
          #logo
            a(href="index.html", style='display: inline-block;')
              img(src= require('../../images/logo/logo.png'), srcset= require('../../images/logo/logo.png') + ' 1x, ' +
              require('../../images/logo/logo@2x.png') + ' 2x', alt="Над дождём")
          //Primary Navigation
          nav#primary-menu
            ul
              each item in primaryNavigation
                li(class={current: htmlWebpackPlugin.options.name === item.name})
                  a(href=`${item.name}.html`)
                    div= item.title
append content
  //Primary Slider
  section#slider.slider-element.slider-parallax.swiper_wrapper.full-screen.force-full-screen.clearfix(data-effect="fade" data-loop="true" data-speed="1000" data-autoplay="5000" data-grab="false")
    .slider-parallax-inner
      .swiper-container.swiper-parent
        .swiper-wrapper
          //Slide-1
          .swiper-slide.slide-1
            .overlay
            .container.clearfix
              .slide-wrapper
                .slider-caption
                  div
                    h3(data-caption-animate="slide") Время твоего
                  div
                    h3(data-caption-animate="slide" data-caption-delay="200") превосходства
          //Slide-2
          .swiper-slide.slide-2
            .overlay
            .container
              .slide-wrapper
                .slider-caption
                  div
                    h3(data-caption-animate="slide") Время твоего
                  div
                    h3(data-caption-animate="slide" data-caption-delay="200") превосходства
          //Slide-3
          .swiper-slide.slide-3
            .overlay
            .container
              .slide-wrapper
                .slider-caption
                  div
                    h3(data-caption-animate="slide") Время твоего
                  div
                    h3(data-caption-animate="slide" data-caption-delay="200") превосходства
        //Phone icon
        #slider-phone
          a(href=`tel:${contacts.phone}`)
            i.i-circled.i-light.icon-call
block footer
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/index/i) !== -1
      script(type='text/javascript', src= jsFile)
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~index/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
