extends ../../templates/layout
append variables
  -
    const { options, pages, primaryNavigation } = require('../../data');
    const slide1 = require('../../images/slides/slide-1.jpg');
    const slide2 = require('../../images/slides/slide-2.jpg');
    const slide3 = require('../../images/slides/slide-3.jpg');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.index.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append content
  //Primary Slider
  section#slider.slider-element.swiper_wrapper.full-screen.force-full-screen.clearfix(data-effect="fade" data-loop="true" data-speed="1500" data-autoplay="5000")
    .slider-parallax-inner
      .swiper-container.swiper-parent
        .swiper-wrapper
          //Slide-1
          .swiper-slide.dark(style={
            background: `url(${slide1}) 50% 50% / cover no-repeat`,
          })
            .overlay
            .container.clearfix
              .slider-caption.slider-caption-center.slide-1
                h2 Над дождём
                p Время твоего превосходства
          //Slide-2
          .swiper-slide.dark(style={
            background: `url(${slide2}) 50% 50% / cover no-repeat`
          })
            .overlay
            .container.clearfix
              .slider-caption.slider-caption-center.slide-2
                h2 Над дождём
                p Время твоего превосходства
          //Slide-3
          .swiper-slide.dark(style={
            background: `url(${slide3}) 50% 50% / cover no-repeat`
          })
            .overlay
            .container.clearfix
              .slider-caption.slider-caption-center.slide-3
                h2 Над дождём
                p Время твоего превосходства
          //Phone icon
          #slider-phone
            a(href=`tel:${options.sliderPhone}`)
              i.i-circled.i-light.icon-call
append footer
  //Footer
append scripts
  //Page scripts
