extends ../../layouts/app
//-VARS
append variables
  -var icon = require("../../../images/icons/favicon.ico")
  -var logo = require("../../../images/logo/logo.png")
  -var directions = require("../../../database/directions");
  -var direction;
//-HEADER
append header
  +header(logo, true)
//-CONTENT
block content
  main.py-5.flex-fill
    div.container
      div.row
        div.col
          div.card
            div#rentCarousel.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#rentCarousel', data-slide-to='0')
                li(data-target='#rentCarousel', data-slide-to='1')
                li(data-target='#rentCarousel', data-slide-to='2')
                li(data-target='#rentCarousel', data-slide-to='3')
              div.carousel-inner
                div.carousel-item.active
                  img.img-thumbnail.border-0(src= `../${require('../../../images/services/rent/001-rent-1200x800.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
                div.carousel-item
                  img.img-thumbnail.border-0(src= `../${require('../../../images/services/rent/002-rent-1200x800.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
                div.carousel-item
                  img.img-thumbnail.border-0(src= `../${require('../../../images/services/rent/003-rent-1200x800.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
                div.carousel-item
                  img.img-thumbnail.border-0(src= `../${require('../../../images/services/rent/004-rent-1200x800.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
                a.carousel-control-prev(href='#rentCarousel', role='button', data-slide='prev')
                  span.carousel-control-prev-icon(aria-hidden='true')
                  span.sr-only Previous
                a.carousel-control-next(href='#rentCarousel' role='button' data-slide='next')
                  span.carousel-control-next-icon(aria-hidden='true')
                  span.sr-only Next
            //Body
            div.card-body
              //Title
              h1.card-title.text-center
                | Аренда сценической площадки
              //Subtitle
              p.card-subtitle.text-secondary.my-3
                | от 25 000 до 40 000 руб
              p.card-text
                | В танцевальном замке "Над дождём" возможно арендовать сценическую площадку для проведения отчетного концерта, творческого вечера, спектакля, семинара, мастер-класса и других различных мероприятий.
              p.card-text
                | В вашем распоряжении легко возводимая модульная сцена, бархатный занавес, проф. световое и музыкальное оборудование, быстросъемные двух-режимные пилоны, воздушные кольца и полотна.
              p.card-text
                | <b>Ограничения:</b>
                br
                | Максимальное количество гостей вместе с выступающими не более 60 человек.
            each item in directions
              if item.name === htmlWebpackPlugin.options.vars.page.name
                -direction = item
            if direction.coaches || direction.schedule
              div.card-footer.p-4.d-lg-flex.justify-content-lg-between
                if direction.coaches && direction.coaches.length > 0
                  ul.list-unstyled.m-0
                    each coach, i in direction.coaches
                      li(class = {
                        'mb-2': i !== direction.coaches.length - 1
                      })
                        if coach.link
                          a.text-reset.text-decoration-none.font-weight-bold.h5(href= `../${coach.link}`)
                            i(class='far fa-user fa-lg')
                            | &nbsp;
                            | #{coach.title}
                        else
                          | #{coach.title}
                if direction.schedule
                  a.d-inline-block.h5.text-reset.text-decoration-none.font-weight-bold.mb-0(class={
                    'mt-3': direction.coaches.length > 0,
                    'mt-lg-0': true
                  })(href= `../${direction.schedule}`)
                    i(class='far fa-calendar-alt fa-lg')
                    | &nbsp;
                    | Расписание занятий

