extends ../../layouts/app
//-VARS
append variables
  -var icon = require("../../../images/icons/favicon.ico")
  -var logo = require("../../../images/logo/logo.png")
  -var { photos } = require("../../../database/gallery")
//-HEADER
append header
  +header(logo, true)
//-CONTENT
block content
  if photos.length > 0
    main.py-5.flex-fill
      div.container
        div.row
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/002.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/002.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/003.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/003.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/004.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/004.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/005.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/005.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/006.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/006.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/008.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/008.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/009.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/009.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/010.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/010.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/011.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/011.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/012.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/012.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/013.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/013.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/014.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/014.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/015.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/015.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/016.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/016.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/017.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/017.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/018.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/018.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/019.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/019.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/020.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/020.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/021.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/021.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/022.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/022.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/023.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/023.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/024.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/024.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/025.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/025.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/026.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/026.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/027.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/027.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/028.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/028.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
          div.col-sm-6.col-md-4.col-lg-3
            div.card.mb-2
              a(href= `../${require('../../../images/gallery/photos/029.jpg')}`)
                img.img-thumbnail.border-0(src= `../${require('../../../images/gallery/photos/029.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
