extends ../../layouts/app
//-VARS
append variables
  -var icon = require("../../../images/icons/favicon.ico")
  -var logo = require("../../../images/logo/logo.png")
  -var coaches = require("../../../database/coaches");
  -var coach;
//-HEADER
append header
  +header(logo, true)
//-CONTENT
block content
  main.py-5.flex-fill
    div.container
      div.row
        div.col
          div.card
            div#aleksandrUshakovCarousel.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#aleksandrUshakovCarousel', data-slide-to='0')
                li(data-target='#aleksandrUshakovCarousel', data-slide-to='1')
                li(data-target='#aleksandrUshakovCarousel', data-slide-to='2')
                li(data-target='#aleksandrUshakovCarousel', data-slide-to='3')
                li(data-target='#aleksandrUshakovCarousel', data-slide-to='4')
              div.carousel-inner
                div.carousel-item.active
                  img.card-img-top.img-thumbnail.border-0(src= `../${require('../../../images/coaches/aleksandr-ushakov/001-aleksandr-ushakov-1200x800.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
                div.carousel-item
                  img.card-img-top.img-thumbnail.border-0(src= `../${require('../../../images/coaches/aleksandr-ushakov/002-aleksandr-ushakov-1200x800.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
                div.carousel-item
                  img.card-img-top.img-thumbnail.border-0(src= `../${require('../../../images/coaches/aleksandr-ushakov/003-aleksandr-ushakov-1200x800.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
                div.carousel-item
                  img.card-img-top.img-thumbnail.border-0(src= `../${require('../../../images/coaches/aleksandr-ushakov/004-aleksandr-ushakov-1200x800.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
                div.carousel-item
                  img.card-img-top.img-thumbnail.border-0(src= `../${require('../../../images/coaches/aleksandr-ushakov/005-aleksandr-ushakov-1200x800.jpg')}`, alt=`${htmlWebpackPlugin.options.vars.page.title}`)
                a.carousel-control-prev(href='#aleksandrUshakovCarousel', role='button', data-slide='prev')
                  span.carousel-control-prev-icon(aria-hidden='true')
                  span.sr-only Previous
                a.carousel-control-next(href='#aleksandrUshakovCarousel', role='button', data-slide='next')
                  span.carousel-control-next-icon(aria-hidden='true')
                  span.sr-only Next
            //Body
            div.card-body
              //Title
              h1.card-title.text-center
                | Александр Ушаков
              //Subtitle
              p.card-subtitle.text-secondary.my-3
                | Лицензированный инструктор программ
                br
                a.text-reset.font-weight-bold(href='../services/zumba-fitness.html') Zumba®&nbsp;Fitness
                | &#8194;и&#8194;
                a.text-reset.font-weight-bold(href='../services/zumba-strong.html') Strong&nbsp;by&nbsp;Zumba®
              p.card-text
                | В составе хореографического танцевального ансамбля "Nord Star" многократный призер и лауреат различных степеней международного конкурса хореографического искусства "Волна успеха"; бронзовый призер всероссийского конкурса талантов "Звезда Удачи".
              p.card-text
                | Участник и презентр городских спортивных мероприятий (мастер-классов, флеш-мобов, конвенций).
              blockquote.blockquote.mb-0
                p.mb-0
                  | В работе главное - взаимосвязь между инструктором и учеником.
                footer.blockquote-footer
                  | Александр Ушаков
            each item in coaches
              if item.name === htmlWebpackPlugin.options.vars.page.name
                -coach = item
            if coach.directions || coach.schedule
              div.card-footer.p-4.d-lg-flex.justify-content-lg-between
                if coach.directions && coach.directions.length > 0
                  ul.list-unstyled.m-0
                    each direction, i in coach.directions
                      li(class = {
                        'mb-2': i !== coach.directions.length - 1
                      })
                        if direction.link
                          a.text-reset.text-decoration-none.font-weight-bold.h5(href= `../${direction.link}`)
                            i.far.fa-check-square.fa-lg
                            | &nbsp;
                            | #{direction.title}
                        else
                          | #{direction.title}
                if coach.schedule
                  a.d-inline-block.h5.text-reset.text-decoration-none.font-weight-bold.mb-0(class={
                    'mt-3': coach.directions.length > 0,
                    'mt-lg-0': true
                  }, href= `../${coach.schedule}`)
                    i.far.fa-calendar-alt.fa-lg
                    | &nbsp;
                    | Расписание занятий

