extends ../../views/layouts/app
append variables
  -var page = htmlWebpackPlugin.options.vars.page
  -var icon = require('../../images/icons/favicon.ico')
  -var logo = require('../../images/logo/logo.png')
append content
  div(id='content')
    div(class='container')
      div(class='row')
        each coach in data.coaches
          div(class='col-sm-6 col-lg-4')
            div(class='card mb-3')
              img(class='card-img-top', src= require(`../../images/coaches/${coach.name}/${coach.name}.jpg`), alt= `${coach.title} | ${data.options.title}`)
              div(class="card-img-overlay h-100 d-flex flex-column justify-content-end text-white")
                if coach.link
                  a(href= coach.link, title= coach.title)
                    h3= coach.title
                else
                  h3= coach.title
                div(class='coach-info')
                  div
                    div(class='coach-title')
                    if coach.directions
                      div(class='coach-directions')
                        ul
                          each direction in coach.directions
                            li
                              if direction.link
                                a(href= direction.link)= direction.title
                              else
                                | #{direction.title}
                  if coach.link || coach.schedule
                    div(class='coach-icons')
                      if coach.link
                        a(href= coach.link)
                          i(class='fas fa-info fa-lg')
                      if coach.schedule
                        a(href= coach.schedule)
                          i(class='far fa-calendar-alt fa-lg')
