extends ../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, coaches } = require('../../data');
//-META
append meta
  //Page meta tags
  if pages.coaches.title
    title= pages.coaches.title
  if pages.coaches.description
    meta(name='description', content= pages.coaches.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /coaches\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  //Page title
  +pageTitle(pages.coaches)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row')
        each coach, index in coaches
          div(class='col-sm-6 col-lg-4')
            div(class= {
              'coach': true,
              'mb-4': coaches.length - 1 !== index
            })
              div(class='coach-image')
                img(src= require(`../../images/coaches/${coach.name}/${coach.name}.jpg`), srcset= require(`../../images/coaches/${coach.name}/${coach.name}.jpg`) + ' 1x, ' + require(`../../images/coaches/${coach.name}/${coach.name}@2x.jpg`) + ' 2x', alt= `${coach.title} | ${options.name}`)
              div(class='coach-info')
                div
                  div(class='coach-title')
                    h3= coach.title
                  if coach.directions
                    div(class='coach-directions')
                      each direction in coach.directions
                        if direction.link
                          a(href= direction.link)
                            p= direction.title
                        else
                          p= direction.title
                if coach.link || coach.schedule
                  div(class='coach-icons')
                    if coach.link
                      a(href= coach.link)
                        i(class='fas fa-info fa-lg')
                    if coach.schedule
                      a(href= coach.schedule)
                        i(class='far fa-calendar-alt fa-lg')
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /coaches\./i)


