extends ../../templates/layout
append variables
  -
    const { options, pages, primaryNavigation, coaches } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.coaches.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.coaches)
  section#content
    .content-wrap
      .team-wrapper
        .container
          .row
            each coach in coaches
              .col-sm-6
                .team
                  .team-image
                    img(src= coach.src alt= coach.title)
                  .team-content
                    .team-title
                      h3 #{coach.title}
                    .team-directions
                      ul
                        each direction in coach.directions
                          li
                            a(data-ajax href=`data/services/${direction.name}.html`) #{direction.title}
                    .team-media.clearfix
                      //-TODO
                        lightbox gallery
                      a(href="#")
                        i.i-plain.icon-image
                      //-TODO
                        lightbox video
                      a(href="#")
                        i.i-plain.icon-play-circle
                    .team-description
                      p #{coach.description}
append scripts
  //Page scripts

