extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation, coaches } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  if pages.coaches.title
    title= pages.coaches.title
  if pages.coaches.description
    meta(name='description', content= pages.coaches.description)
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/coaches/i) !== -1
      link(rel='preload', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~coaches/i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  //Header
  +header(primaryNavigation)
append content
  +pageTitle(pages.coaches)
  section#content
    div(class='content-wrap')
      div(class='container')
        div(class='row')
          each coach, index in coaches
            div(class='col-sm-6 col-lg-4')
              div(class= {
                'coach': true,
                'mb-4': coaches.length - 1 !== index
              })
                div(class='coach-image')
                  img(src= require(`../../images/coaches/${coach.name}.jpg`), srcset= require(`../../images/coaches/${coach.name}.jpg`) + ' 1x, ' + require(`../../images/coaches/${coach.name}@2x.jpg`) + ' 2x', alt= `${coach.title} | ${options.name}`)
                div(class='coach-info')
                  div
                    div(class='coach-title')
                      h2= coach.title
                    div(class='coach-directions')
                      each direction in coach.directions
                        if direction.link
                          a(href= direction.link)
                            h4= direction.title
                        else
                          a(href='services.html')
                            h4= direction.title
                  div(class='coach-icons')
                    if coach.link
                      a(href= coach.link)
                        i(class='fas fa-info fa-lg')
                    a(href=`schedule.html?direction=all&coach=${coach.name}&day=all`)
                      i(class='fas fa-calendar-alt fa-lg')
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/coaches/i) !== -1
      script(type='text/javascript', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~coaches/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}


