extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation, coaches } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= pages.coaches.title
  meta(name='description', content= pages.coaches.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.coaches)
  section#content
    .content-wrap
      .coaches-wrapper
        .container
          .row
            each coach in coaches
              .col-sm-6.col-md-6.col-lg-4
                .coach-wrapper
                  .coach
                    .coach-image
                      if coach.name === 'aleksandr_ushakov'
                        img(src= require(`../../images/coaches/${coach.name}.jpg`), srcset= require(`../../images/coaches/${coach.name}.jpg`) + ' 1x, ' + require(`../../images/coaches/${coach.name}@2x.jpg`) + ' 2x', alt= `${coach.title} | ${options.name}`)
                      else
                        img(src= require(`../../images/coaches/${coach.name}.jpg`) alt= `${coach.title} | ${options.name}`)
                    .coach-info
                      div
                        .coach-title
                          h2= coach.title
                        .coach-directions
                          each direction in coach.directions
                            if direction.link
                              a(href= direction.link)
                                h4= direction.title
                            else
                              a(href='services.html')
                                h4= direction.title
                      .coach-icons
                        if coach.link
                          a(href= coach.link)
                            i.icon-line2-info
                        a(href=`schedule.html?direction=all&coach=${coach.name}&day=all`)
                          i.icon-calendar2
append scripts
  //Page scripts

