extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  if pages.nadezhda_luchinina.title
    title= pages.nadezhda_luchinina.title
  if pages.nadezhda_luchinina.description
    meta(name='description', content= pages.nadezhda_luchinina.description)
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && (cssFile.search(/common/i) !== -1 || cssFile.search(/coach\./i) !== -1)
      link(href=cssFile, rel='preload', as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(href=cssFile, rel='stylesheet')
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~coach\./i) !== -1
      style=compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  +header(primaryNavigation)
append content
  //Page title
  +pageTitle(pages.nadezhda_luchinina)
  section#content
    //Content
    div(class='content-wrap')
      //Container
      div(class='container')
        div(class='row justify-content-center')
          div(class='col-12 col-lg-8')
            div(class='card border-0')
              div(class='card-body p-sm-4')
                h2(class='card-title mb-3')
                  |Надежда Лучинина
                span(class='card-subtitle mb-4')
                  |В каждой из нас живет танец. Мы учим не движения, мы узнаем себя.
                p(class='card-text lead')
                  |Надежда Лучинина - успешный преподаватель-хореограф в направлении <strong>Pole&nbsp;Dance</strong>.
                p(class='card-text lead')
                  |В 2012г Надежда Лучинина стала пополнять копилку своих достижений:
                ul
                  li
                    p(class='lead') "Золотой пилон", акробатик, профи - 3 место, г.Краснодар
                  li
                    p(class='lead') "Pole Power" профи - 1место, г.Череповец
                  li
                    p(class='lead') "Miss Pole Dance Battle Final" артистик - 2 место, г.Санкт- Петербург
                  li
                    p(class='lead') "Pole Star" 2013, акробатик, профи - 1 место, г.Самара
                  li
                    p(class='lead') "Золотой пилон", акробатик профи - 2 место, г.Краснодар
                  li
                    p(class='lead') "Pole Star" 2015 акробатик профи - 2 место, г.Самара
                  li
                    p(class='lead') "Dance Fest Drive Арт" профи - 3 место, г.Санкт Петербург
                  li
                    p(class='lead') "Exotic Hard" - 2 место, Москва
                  li
                    p(class='lead') Lady Dance Show 2016 экзот профи - 4 место, г.Москва
                  li
                    p(class='lead') "Волна Успеха" 2015 пилон профи - 1 место, г.Санкт Петербург
                  li
                    p(class='lead') "Pole Star" 2015 акробатик профи - 2 место, г.Самара
                  li
                    p(class='lead') "Dance Fest Drive Арт" профи - 3 место, г.Санкт-Петербург
                  li
                    p(class='lead') "Волна Успеха" 2015 пилон профи - 1 место
                p(class='card-text lead')
                  |Не останавливаясь в профессиональном росте, в 2014 году получила аттестацию Межрегиональной Организации Спорта и Танца на пилоне (МОСТП).
                p(class='card-text lead')
                  |На тренировках Надежда научит Вас управлять и наслаждаться движением  своего тела, поскольку, тело — это самый прекрасный инструмент, которым мы когда-либо обладали.
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/coach\./i) !== -1
      script(type='text/javascript', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~coach\./i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
