mixin header(items)
  header#header.transparent-header(data-sticky-class="not-dark transparent-header")
    #header-wrap
      .container.clearfix
        #primary-menu-trigger: i.icon-reorder
        //Logo
        #logo
          a(href="index.html" class="standard-logo" data-dark-logo=require("../../images/logo/logo-dark.png"))
            img(src=require("../../images/logo/logo.png") alt="Логотип танцевального клуба 'Над дождем'")
          a(href="index.html" class="retina-logo" data-dark-logo=require("../../images/logo/logo-dark@2x.png"))
            img(src=require("../../images/logo/logo@2x.png") alt="Логотип танцевального клуба 'Над дождем'")
        //Primary Navigation
        nav#primary-menu.with-arrows
            ul
              each item in items
                if !item.subitems
                  li(class={current: pageName === item.name})
                    a(href=`${item.name}.html`) #{item.title}
                else
                  li(class={current: pageName === item.name})
                    a(href=`${item.name}.html`)
                      div #{item.title}
                    ul
                      each subitem in item.subitems
                        li
                          a(data-ajax href=`data/services/${subitem.name}.html`) #{subitem.title}
            #top-search
              a#top-search-trigger(href="#")
                i.icon-search3
                i.icon-line-cross
              form(action="" method="get")
                input.form-control(type="text" name="q" value="" placeholder="поиск..")
