mixin schedule-event(rowspan, direction, coach, day, timeStart, timeEnd, badge)
  td.schedule-event(rowspan= rowspan data-direction= direction.name data-coach= coach.name data-day= day)
    if direction
      .schedule-title
        if direction.link
          a(href= direction.link)= direction.title
        else
          | #{direction.title}
      .schedule-interval
        span= `${timeStart}-${timeEnd}`
    if coach
      .schedule-coach
        if coach.link
          a(href= coach.link)= coach.title
        else
          | #{coach.title}
    if badge
      div
        span(class='badge badge-success badge-pill')= badge
    else
      div
        span(class='badge badge-info badge-pill') Ведется набор
