extends ../../templates/layout
append variables
  -const { options, pages, primaryNavigation, events } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.events.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.events)
  section#content
    .content-wrap
      .events-wrapper
        .container
          .row
            each event in events
              .col-sm-12
                .event
                  .event-image
                    a(href= require('../../images/events/28-10-2018.jpg'))
                      img(src= require('../../images/events/28-10-2018.jpg') alt= event.img.alt)
                      .event-date
                        span= event.date.day
                        span= event.date.month
                  .event-content
                    .event-title
                      h3 !{event.title}
                    .event-excerpt
                      p.
                        Впервые в САНКТ-ПЕТЕРБУРГЕ! <br>
                        28 октября 2018 <br>
                        В Танцевальном замке "НАД&nbsp;ДОЖДЁМ" пройдет МАСТЕР-КЛАСС горячей, космической и неординарной СОФЫ&nbsp;МАКУРИНОЙ <br>
                        <a href="https://vk.com/naddozhdem"><span>https://vk.com/naddozhdem</span></a><br>
                        Приглашаем на авторские классы Софы с её дерзкой, но очень чувственной хореографией.

append scripts
  //Page scripts
