extends ../../templates/layout
append variables
  -const { options, pages, primaryNavigation, events } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.events.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.events)
  section#content
    .content-wrap
      .container.clearfix
        #posts.events.small-thumbs
          each event in events
            .entry.clearfix.nobg.noborder.nopadding
              .entry-image
                a(href= event.link)
                  img(src= event.img.src alt= event.img.alt)
                  .entry-date #{event.date.day}
                    span= event.date.month
              .entry-c
                .entry-title
                  h2
                    a(href= event.link)= event.title
                .entry-content
                  p= event.excerpt
                  a(href= event.link) Подробнее...


append scripts
  //Page scripts
