extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  if pages.events.title
    title= pages.events.title
  if pages.events.description
    meta(name='description', content= pages.events.description)
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/events/i) !== -1
      link(rel='preload', href= cssFile.substr(
        htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~events/i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  append header
    //Header
    +header(primaryNavigation)
append content
  +pageTitle(pages.events)
  section#content
    //Content
    div(class='content-wrap')
      //Container
      div(class='container')
        div(class='row')
          //Мастер-класс Софы Макуриной
          div(class='col-12 col-lg-6')
            div(class='card mb-5 mb-lg-4 border-0')
              div(class='image-container')
                a(href= pages.sofaMakurinaMasterClass.link)
                  img(class='card-img-top',
                src= require('../../images/events/sofa-makurina-master-class/001-sofa-makurina-master-class-600x400.jpg'),
                srcset= require('../../images/events/sofa-makurina-master-class/001-sofa-makurina-master-class-600x400.jpg') + ' 600w,' + require('../../images/events/sofa-makurina-master-class/001-sofa-makurina-master-class-800x533.jpg') + ' 800w, ' + require('../../images/events/sofa-makurina-master-class/001-sofa-makurina-master-class-1200x800.jpg') + ' 1200w',
                alt='Мастер-класс Софы Макуриной | Над Дождём')
                  div(class='event-date')
                    span 28
                    span Октября
              div(class='card-body p-sm-4')
                h2(class='card-title mb-3')
                  | Мастер-класс Софы&nbsp;Макуриной
                p(class='card-text lead mb-4')
                  | Впервые в САНКТ-ПЕТЕРБУРГЕ!
                  br
                  | 28 октября 2018
                p(class='card-text lead mb-4')
                  | В Танцевальном замке "НАД&nbsp;ДОЖДЁМ" пройдет МАСТЕР-КЛАСС горячей, космической и неординарной СОФЫ&nbsp;МАКУРИНОЙ.
                p(class='card-text lead mb-4')
                  | Приглашаем на авторские классы Софы с её дерзкой, но очень чувственной хореографией.
                p(class='card-text')
                  a(href='requisites.html') Реквизиты для оплаты
                p(class='card-text d-flex justify-content-end')
                  a(href= pages.sofaMakurinaMasterClass.link, class='font-weight-bold') Подробнее...
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/events/i) !== -1
      script(type='text/javascript', src= jsFile)
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~events/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
