extends ../../templates/layout
append variables
  -const { common, options, pages, primaryNavigation, events } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${common.name} | ${pages.events.title}`
  if pages.events.description
    meta(name='description', content= pages.events.description)
  else
    meta(name='description', content= common.description)
  if pages.events.keys
    meta(name='keywords', content= pages.events.keys)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.events)
  section#content
    .content-wrap
      .events-wrapper
        .container
          .row
            each event in events
              .col-sm-12
                .event
                  div.event-image
                    a(href= 'events/sofa-makurina-master-class.html')
                      img(src= require('../../images/events/28-10-2018.jpg') alt= event.img.alt)
                      .event-date
                        span= event.date.day
                        span= event.date.month
                  .event-content
                    .event-title
                      h3 !{event.title}
                    .event-excerpt
                      p Впервые в САНКТ-ПЕТЕРБУРГЕ!
                      p 28 октября 2018
                      p В Танцевальном замке "НАД&nbsp;ДОЖДЁМ" пройдет МАСТЕР-КЛАСС горячей, космической и неординарной СОФЫ&nbsp;МАКУРИНОЙ
                      p
                       a(href="https://vk.com/naddozhdem")
                         span
                          b https://vk.com/naddozhdem
                      p Приглашаем на авторские классы Софы с её дерзкой, но очень чувственной хореографией.
                      p
                        a(href='requisites.html')
                          span
                            b Реквизиты для оплаты

append scripts
  //Page scripts
